* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslateblue;
  color: #fff;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.material-icons {
  font-size: 10rem;
}

#dynamic {
  position: relative;
  display: inline-block;
}

#dynamic::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: #fff;
}

#dynamic.active::after {
  display: none;
}
.lg-text {
  font-size: 2rem;
  font-weight: bold;
}

.sm-text {
  font-size: 1.5rem;
}